<div>
  <% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this obj from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<div class=pl-3>
  <div>
    <h2>User info</h2>
      <div>
        <%= image_tag user.get_profile_image(100, 100) %>
      </div>
      <table>
        <tr class="border-bottom">
          <th class="p-2">name</th>
          <td class="p-2">
            <%= user.name %>
          </td>
        </tr>
        <tr class="border-bottom">
          <th class="p-2">introduction</th>
          <td class="p-2">
            <%= user.introduction %>
          </td>
        </tr>
      </table>
    <div>
      <%= link_to edit_user_path(user.id), class: "btn btn-ligth btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    </div>

    <div>
      <h2>New book</h2>
        <%= form_with model: Book.new do |f| %>
          <div>Title</div>
          <%= f.text_field :title %>
          <div>Opinion</div>
          <%= f.text_area :body %><br>
          <%= f.submit "Create Book", class:"btn btn-success" %>
        <% end %>
    </div>
  </div>
</div>