<div class="container w-25">
  <div class="row">
    <div class="col-lg-7">
      <h1>User info</h1>
      <%= form_with model: @user, url: user_path, method: :patch do |f| %>
        <h4>Name</h4>
        <%= f.text_field :name, autofous: true, id:"inputName", placeholder: "名前" %>
        <h4>ProlileImage</h4>
        <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
        <h4>Introduction</h4>
        <%= f.text_area :introduction, autofous: true %>
        <%= f.submit "Update", url: user_path, class:"btn btn-success", method: :patch %>
      <% end %>
    </div>
  </div>
</div>