<div class="container">
 <div class="row">
  <div class="col-lg-4 center-block">
    <%= render 'userinfo', user: @user %>
  </div>

  <div class="col-lg-8">
    <h4 class="border-bottom p-3">Books</h4>
    <table>
      <tr class="border-bottom">
        <th class="p-2"></th>
        <th class="p-2">Title</th>
        <th class="p-2">Opinion</th>
      </tr>
      <% @books.each do |books| %>
        <tr class="border-bottom">
          <td class="p-2"><%= image_tag books.user.get_profile_image(100, 100) %></td>
          <td class="p-2">
            <%= link_to book_path(books) do %>
              <%= books.title %>
            <% end %>
            </td>
          <td class="p-2"><%= books.body %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>