<div><%= render 'users/userinfo' %></div>

<div>
  <h4>Book detail</h4>
  <table>
    <tr>
      <td><%= image_tag current_user.get_profile_image(100, 100) %>
        <p><%= current_user.name %><p>
      </td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <% if current_user %>
        <td><%= link_to "Edit", edit_book_path(@book) %></td>
        <td><%= link_to "Delete", book_path(@book), method: :delete %></td>
      <% end %>
    </tr>

  </table>
</div>
